body {
    background-color: rgb(221, 214, 214);
}

.navbar-brand {
    position: relative;
    background-color: rgb(29, 167, 167);
    padding: 15px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: seashell !important;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
}
.navbar-nav {
    position: absolute;
    right: 50px;
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellowgreen;
}

.container {
    background: white;
    margin-top: 30px;
    position: absolute;
    left: 13px;



